{% extends 'layout.html' %}

{% block content %}

A scarily powerful programming language for .Net which has:

<div class="homepage">
<h3>An ultra clean syntax:</h3>
	Python-style indentation, automatic type inference and a minimum of brackets and keywords makes for highly readable code.
	See the difference for yourself with this online converter.

<h3>Powerful extension features:</h3>
	add new keywords, add instructions to modify/analyse your code during compilation or even create your own DSL!
	
<h3>IDE support:</h3>
<p>
	Boo has been supported in Sharpdevelop since 2006. There are also plugins for sublime and Notepad++ plug-in https://github.com/Shammah/boo-sublime
	https://groups.google.com/forum/#!topic/boolang/WUcSQOn0nEU
</p>
<h3>First class Functions:</h3>

<h3>All the speed of C#:</h3>
	While IronPython is a great project, sometimes you need your application to be "snappy". 
	Boo is statically compiled, just the same as C# or VB.Net, meaning any speed differences should be marginal. You can fo course use assemblies written in Boo by C# and vice-versa.
	
	(although there is the option to duck type).
	
	
<h2>Getting started:</h2>
	Get yourself a copy of Sharpdevelop 3.2 or 4.3, Boo comes included so you'll be able to produce .Net applications.
	https://github.com/bamboo/boo/wiki/Boo-Primer
	https://github.com/bamboo/boo/wiki/Tutorials
	
<h2>What's new:</h2>
	Microsoft have just open-sourced .Net, making it available on Mac and Linux!

</div><!--homepage-->
{% endblock %}
